html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

#app {
  height: 100%;
  background: #2d353c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tags-input-1,
#tags-input-2 {
  height: 40px;
  font-size: 24px;
  padding: 0 5px;
  outline: none;
 }

.tags-list {
  max-width: 90%;
  font-size: 18px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.tags-list-item {
  height: 30px;
  display: flex;
  padding: 0 8px;
  margin: 10px;
  align-items: center;
  background: #5c656e;
  color: white;
  border-radius: 5%;
}

.tag-name {
  padding: 0 5px;
}

.remove-btn {
  color: #cedff2;
  padding-left: 8px;
  border-left: 1px solid #363d48;
  cursor: pointer;
  transition: .4s ease-out;
}

.remove-btn:hover {
  color: red;
}

#question {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  transition: .4s ease-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.question-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #5c656e;
  margin: 15% auto;  
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  position: relative;
}

#alert-msg {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 10px;
}

.question-content>.btn {
  border: none;
  color: white;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.question-content>.accept {
  background: #4CAF50;
}

.question-content>.accept:hover {
  background-color: #46a049;
}

.question-content>.cancel {
  background-color: #f44336;
} 

.question-content>.cancel:hover {
  background: #da190b;
}

#close-btn {
  position: absolute;  
  top: 3px;
  right: 8px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: .4s ease-out;
}

#close-btn:hover {
  color: red;
  text-decoration: none;  
}